Welcome to {{title}}
<br><br>
<form [formGroup] = "CustomerModel.formCusGroup">
<label for="fname">Id :</label>
<input [(ngModel)]="CustomerModel.CustomerId" formControlName="CustomerIdControl" type="text" id="fname" name="fname"><br><br>
<label for="lname">Name :</label>
<input [(ngModel)]="CustomerModel.CustomerName" formControlName="CustomerNameControl" type="text" id="lname" name="lname"><br><br>
<label for="llocation">Location :</label>
<input [(ngModel)]="CustomerModel.CustomerLocation" [ngModelOptions]="{standalone: true}" type="text" id="lname" name="lname"><br><br>
<input  [disabled]="!(CustomerModel.formCusGroup.valid)" (click)="Add()" type="submit" value="Submit"><br><br>
</form>
<div *ngIf="CustomerModel.formCusGroup.dirty" [hidden]="!(hasErrors('CustomerIdControl', 'pattern'))">Customer Id is invalid</div>
<div *ngIf="CustomerModel.formCusGroup.dirty" [hidden]="!(hasErrors('CustomerNameControl','required'))">Customer Id is required</div>
<div *ngIf="CustomerModel.formCusGroup.dirty" [hidden]="!(hasErrors('CustomerNameControl','required'))">Customer Name is required</div>
<br><br>
<br><br>
Hi {{CustomerModel.CustomerName}}, your Id is {{CustomerModel.CustomerId}} and location is {{CustomerModel.CustomerLocation}}
<br><br>
<br><br>

<grid-ui [grid-column]="[{'colName':'Id'},{'colName':'Name'},{'colName':'Location'}]" 
[grid-data]="CustomerModelList"
(grid-select)="SelectCustomer($event)"></grid-ui>

<!-- <table>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Location</th>
    </tr>
    <tr *ngFor="let cust of CustomerModelList">
      <td>{{cust.CustomerId}}</td>
      <td>{{cust.CustomerName}}</td>
      <td>{{cust.CustomerLocation}}</td>
    </tr>
</table> -->